.App {
  background: #0f0c29;
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
  color: white;
  font-family: "Roboto", sans-serif;
  --primary: #2563eb;
  --primary-dark: #1e40af;
  --primary-light: #3b82f6;
  --background-dark: #0f172a;
}
/* #1e40af; */
