.App {
  /* background: #030712; */
  background: linear-gradient(135deg, #0f172a, #1e1b4b, #191753);
  color: white;
  font-family: "Roboto", sans-serif;
  --primary: #2563eb;
  --primary-dark: #1e40af;
  --primary-light: #3b82f6;
  --background-dark: #0f172a;
}
/* #1e40af; */
